.new-event-form label,
.new-event-form input {
       display: block;
       text-align: left;
       width: 100%;
       margin: 5px auto;
       padding: 5px;
       box-sizing: border-box;
       font-size: 1.2em;
       border-radius: 14px;
}
.new-event-form p.reset{
       cursor: pointer;
       display: inline;
       background: #ff4500;
       color: #fff;
       border-radius: 4px;
}