.title-block .title {
  display: block;
  margin: 10px auto;
  max-width: 420px;
  padding: 30px 60px;
  background: #f4f4f4;
  border-radius: 8px;
  font-weight: normal;
  margin-bottom: 10px;
}
.title-block .subtitle {
  display: inline-block;
  color: #555;
  font-weight: normal;
  padding-bottom: 1px;
  border-bottom: #13e31d 2px solid;
  margin-top: 10px;
  margin-bottom: 60px;
}
